<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Водитель</title>
</head>
<body>
<h1>Водитель {{ object.name }}</h1>
<p>id: {{ driver.id }}</p>
<p>Фамилия: {{ driver.second_name }}</p>
<p>Имя: {{ driver.first_name }}</p>
<p>Отчество: {{ driver.patronimic }}</p>
<p>ФИО: {{ driver.name }}</p>
<p>Гражданство: {{ driver.citizenship }}</p>
<p>Серия и номер паспорта: {{ driver.passport_id }}</p>
<p>Дата выдачи паспорта: {{ driver.passport_issue_date }}</p>
<p>Дата рождения: {{ driver.date_of_birth }}</p>
<p>Место рождения: {{ driver.place_of_birth }}</p>
<p>Адрес: {{ driver.residence_place }}</p>
<p>Номер телефона: {{ driver.phone_number }}</p>
<p>Номер прав: {{ driver.driving_license_id }}</p>
<p>Категория прав: {{ driver.driving_license_category }}</p>
<p>Срок действия прав: {{ driver.driving_license_validity_period }}</p>
<p>Сумма аренды: {{ driver.rent_sum }}</p>
<p>Аванс: {{ driver.deposit }}</p>
<p>Статус: {% if driver.status %}Активен{% else %}Неактивен{% endif %}</p>
<h2>Изменить</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Изменить">
</form>
<table border="1">
    <tr>
        <td>Фото водителя</td>
        <td>Фото пасспорта</td>
        <td>Фото прав</td>
        <td>Фото договора</td>
    </tr>
    <tr>
        <td>{% for photo in photos %}
            <a href="{{ photo.photo.url }}" download="{{ photo.photo.name }}">
                {{ photo.filename }}</a>
            <button type="button">
                <a href="{% url 'references:delete_driver_photo' photo.id %}">Удалить</a>
            </button>
            <br>
            {% endfor %}
            <form method="post" action="{% url 'references:add_driver_photo' driver.id %}"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" multiple accept="image/*" name="photo">
                <input type="submit" value="Добавить">
            </form>
        </td>
        <td>{% for photo in passport %}
            <a href="{{ photo.photo.url }}" download="{{ photo.photo.name }}">
                {{ photo.filename }}</a>
            <button type="button">
                <a href="{% url 'references:delete_driver_passport_photo' photo.id %}">Удалить</a>
            </button>
            <br>
            {% endfor %}
            <form method="post" action="{% url 'references:add_passport_photo' driver.id %}"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" multiple accept="image/*" name="passport_photo">
                <input type="submit" value="Добавить">
            </form>
        </td>
        <td>{% for photo in license %}
            <a href="{{ photo.photo.url }}" download="{{ photo.photo.name }}">
                {{ photo.filename }}</a>
            <button type="button">
                <a href="{% url 'references:delete_driving_license_photo' photo.id %}">Удалить</a>
            </button>
            <br>
            {% endfor %}
            <form method="post" action="{% url 'references:add_license_photo' driver.id %}"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" multiple accept="image/*" name="license_photo">
                <input type="submit" value="Добавить">
            </form>
        </td>
        <td>{% for photo in contract %}
            <a href="{{ photo.photo.url }}" download="{{ photo.photo.name }}">
                {{ photo.filename }}</a>
            <button type="button">
                <a href="{% url 'references:delete_renting_contract_photo' photo.id %}">Удалить</a>
            </button>
            <br>
            {% endfor %}
            <form method="post" action="{% url 'references:add_contract_photo' driver.id %}"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" multiple accept="image/*" name="contract_photo">
                <input type="submit" value="Добавить">
            </form>
        </td>
    </tr>
</table>
</body>
</html>