<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Аренда</title>
</head>
<body>
<h1>Аренда</h1>
<h2>Добавить выплату по аренде</h2>
<form id="post_form" method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_div }}
    <input type="submit" name="submit" value="Сохранить"/>
</form>
<div>
    <h2>Все операции по аренде</h2>
    {% if rent_list %}
    <table border="1">
        <tr>
            <td>Перевозчик</td>
            <td>Дата</td>
            <td>Сумма</td>
            <td>Баланс</td>
        </tr>
        {% for rent in rent_list %}
        <tr>
            <td>{{ rent.contractor }}</td>
            <td>{{ rent.payment_date }}</td>
            <td>{{ rent.summ }}</td>
            <td>{{ rent.balance }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>Записей об аренде пока нет.</p>
    {% endif %}
</div>
</body>
</html>