<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Отчет по аренде</title>
</head>
<body>
<h1>Добавить выплату по аренде</h1>
<form method="post">
    {% csrf_token %}
    {{ rent_form.as_p }}
    <button type="submit">Добавить</button>
</form>
<h1>Выберите временной промежуток</h1>
<form method="get">
    {{ date_range_form.as_p }}
    <button type="submit">Показать</button>
</form>
<button type="button"><a href="{% url 'contractors:rent_list' %}">Все записи по аренде</a></button>
<h1>Выплаты по аренде за {{ dates.0 }} - {{ dates|last }}</h1>
<table border="1">
    <thead>
    <tr>
        <th></th>
        {% for date in dates %}
            <th>{{ date }}</th>
        {% endfor %}
        <th>Итого</th>
        <th>Баланс</th>
    </tr>
    </thead>
    <tbody>
    {% for contractor, sums in rents.items %}
        <tr>
            <th>{{ contractor }}</th>
            {% for summ in sums %}
                <td> {{ summ }} </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>